body {
  // background-color: #fff;
  // color: #333;
  // margin: 33px;
  font-family: 'Josefin Sans', sans-serif;
  // font-size: 13px;
  // line-height: 18px;
  height: 100vh;
  background: linear-gradient(to bottom right, #f5876e, #6865a6);


}

.logincard {
  font-family: 'Josefin Sans', sans-serif;
  font-style: thin;
  color: #3f4144;
  text-align: center;
}

#vobobutton {
  background-color: rgba(76, 76, 76, 0);
  border-color: rgba(76, 76, 76, 1);
  color: #3f4144;
  margin: 15px;
  font-family: 'Josefin Sans', sans-serif;
}

.jumbotron {
  background-color: rgba(256, 256, 256, 0.80);
  border-radius: 0;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 6px 4px 22px 0px rgba(0,0,0,0.12);
  -moz-box-shadow: 6px 4px 22px 0px rgba(0,0,0,0.12);
  box-shadow: 6px 4px 22px 0px rgba(0,0,0,0.12);
}


p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}
